.contact{
    width: 90%;
    margin: 50px auto 0;
}
.contact_container{
    background-color: #1b1b1b;
    padding: 3rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    margin: 200px auto 7rem;
    border-radius: 1rem;
}
.contact_aside{
    background-color: #000;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}
.contact_aside h2{
    text-align: left;
    margin-bottom: 1rem;
}
.contact_aside p{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.contact_details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.contact_details li{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.contact_socials{
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}
.contact_socials a{
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}
.form_name{
    display: flex;
    gap: 1.2rem;
}
.contact_form input[type="text"]{
    width: 50%;
}
input,textarea{
    width: 100%;
    padding: 1rem;
    background-color: #1f242d;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    resize: none;
}
.contact_form .btn{
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}
.contact ul{
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width:1024px){
    .contact{
        width: 85%;
    }
    .contact_aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contact_form{
        align-self: center;
        margin: auto;
    }
    .contact_form .btn{
        margin-bottom: 20px;
    }
    .contact_container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 60px;
        padding: 0;
    }
}


@media screen and (max-width:600px){
    .contact{
        width: 98%;
        margin-top: 120px;
    }
    .contact_container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }
    .contact_form{
        margin: 0 1.5rem 3rem;
    }
    .form_name{
        flex-direction: column;
    }
    .form_name input[type="text"]{
        width: 100%;
    }
}